<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Items
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="openSettings()">
        <ion-icon slot="icon-only" name="cog-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Items</ion-title>
    </ion-toolbar>
  </ion-header>

  <!-- Loop of observable array -->
  <ng-container *ngFor="let value$ of itemSet$">
    <!-- card component with weather from API, open detail actions -->
    <ion-card *ngIf="value$ | async; let item" routerLink="/detail" (click)="openDetail(item.data.item)">
      <ion-avatar>
        <img [src]="item.data.item.images.icon" alt="icon">
      </ion-avatar>
      <!-- card show only if data (observable) downloaded from server | async in if -->
      <!-- let weather = data injected from if async state -->
      <ion-card-header>
        <!-- show data -->
        <ion-card-title>
          <ion-row class="ion-no-padding ion-align-items-center">
            <ion-col class="ion-no-padding">
              {{item.data.item.name}}
            </ion-col>
            <ion-col class="ion-no-padding ion-text-right">
              <ion-chip>
                <ion-label>Type: {{item.data.item.type}}</ion-label>
              </ion-chip>
            </ion-col>
          </ion-row>
        </ion-card-title>
      </ion-card-header>

      <ion-card-content>
      </ion-card-content>
    </ion-card>
  </ng-container>
</ion-content>
